.wrapper {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.mt-md {
  margin-top: 2rem;
}

.main {
 
  height: 100%;
  background-image: url("https://media.giphy.com/media/yuCFv09jeMsZMjUbie/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/YmzO3P2e4qYkitoVcF/giphy.gif"); */
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.about {
 
  height: 100%;
  background-image: url("https://media.giphy.com/media/l378b9LcC3cclsY2A/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/YmzO3P2e4qYkitoVcF/giphy.gif"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.projects {
 
  height: 100%;
  background-image: url("https://media.giphy.com/media/CoWSOVQI60mlgPyUUu/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/YmzO3P2e4qYkitoVcF/giphy.gif"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 50%;
  padding: 50px;
  border: 1px solid gray;
  margin: 0 auto;
  
}

.text-center {  
  text-align: center;
}


h1 {
  color: rgb(69, 86, 243);
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
}

h2 {
  color: rgb(141, 5, 182);
  font-family: 'Nova Flat', cursive;
  font-size: 25px;
 
}

p {
  text-align: center;  
}

h4 {
  text-align: center;
  font-style: italic;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  color: white;
  background-color: rgb(153, 175, 246)
}

a {
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}


a {
  color: rgb(100, 163, 235);
  font-weight: 600;
  
}

.pointer {
  cursor: pointer;
}

.profile:hover {
  background-color: pink;
}

.date-top {
 color:rgb(52, 134, 189);
 font-weight: 600;
}

.time-top {
 color:rgb(226, 99, 205);
 font-weight: 600;
}

#date {
 color: rgb(108, 174, 201);
 font-weight: 600;
}

#time {
 color: rgb(219, 180, 238);
 font-weight: 600;
}

